.App {
  text-align: center;
}


.App-header {
  background-color: lightgray;
  height: 80px;
  padding: 20px;
  color: black;
  margin-bottom: 20px;
}

.App-title {
  font-size: 24px;
}
.App__main {
  height: 100vh;
}